<nav class="navbar navbar-default navbar-fixed-top">
  <a class="navbar-brand" href="/">虾米博客</a>
  <ul class="nav navbar-nav navbar-right">
    <li><a href="">注册</a></li>
    <li><a href="">登录</a></li>
  </ul>
</nav>